
/* COLOR SCHEME STOLEN FROM https://brittanychiang.com/ */


* {
    color: hsl(225, 20%, 61%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* unvisited link */
a:link {
    color: hsl(166, 100%, 70%);
    
}

/* visited link */
a:visited {
    color: hsl(166, 100%, 70%);
}

/* mouse over link */
a:hover {
    
}

/* selected link */
a:active {
    
}

body {
    background-color: hsl(216, 65%, 11%);
    padding: 0;
    /* width: 100vw; */
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width:100vw;
}

.container {
    display: grid;
    position: relative;
    width: 100vw;
    height: 95vh;
    padding: 10px;
    margin-bottom: 15px;
    grid-template-rows: 10vh 90vh 25vh 30vh;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "who"
    "skills"
    "projects"
    ;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 10px;
    /* padding: 0 10px 0 10px; */
    position: relative;
}

.resume {
    margin-top: .5rem;
    display: inline-block;
    align-self: flex-start;
}

.hamburger {
    width: 45px;
    height:auto;
    margin-top: .5rem;
    align-self: center;
    justify-self: center;
}

.button {
    border-radius: 17%;
    background-color: rgba(0, 0, 0, 0%);
    color:hsl(166, 100%, 70%);
    font-weight: bold;
    border-color: rgb(102, 255, 219);
    border-width: 3px;
    height: 40px;
    width: 90px;
}

.who {
    grid-area: who;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
    width: 100%;
    padding: 1rem;
}

.title {
    grid-column-start: 1;
    grid-column-end: 5;
    display: inline;
    white-space: nowrap;
}

.small_title {
    grid-row: 1/2;
    grid-column: 1/11;
    font-size: 25pt;
    font-weight: bold;
}

.who .title {
    grid-column: 2/6;
    grid-row: 2/3;
}

.who .title2 {
    grid-column: 4/11;
    grid-row: 3/4;
}

.small_title2 {
    grid-column: 2/10;
    grid-row: 4/5;
    font-size: 25pt;
    font-weight: bold;
}

.small_title3 {
    grid-column: 3/10;
    grid-row: 5/6;
    font-size: 25pt;
    font-weight: bold;
}

.small_title4 {
    grid-column: 4/10;
    grid-row: 6/7;
    font-size: 25pt;
    font-weight: bold;
}

.who_info {
    display: inline-block;
    font-size: 12pt;
    grid-column: 2/10;
    grid-row: 8/14;
}

.down {
    grid-column: 1/11;
    grid-row: 15/16;
    width: 100%;
    display: flex;
    justify-content: center;
} 

.down img {
    height: 30px;
    width: 50px;
    /* position: absolute;
    justify-self: center; */
    margin-left: .6em;
    opacity: .4;
}

.links-container {
    justify-self: end;
    position: relative;
    max-width: 75px;
    height: 100%;
    align-content: center;
} 

.skills {
    /* display: grid; */
    grid-area: skills;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 15% 85%;
    width: 100%;
    overflow-x: hide;
}

.skills .title {
    grid-row: 1/2;
    grid-column: 2/3;
}

.skills-list {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: space-evenly;
    white-space: normal;
    overflow-x: scroll;
}


img {
    height: 70%;
    width: auto;
}

.projects {
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 15% 85%;
    white-space: nowrap;
    grid-area: projects;
    width: 100%;
    overflow-x: hidden;
}

.projects .title {
    grid-row: 1/2;
    grid-column: 2/3;
}

.projects_images {
    display: inline-block;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 1/3;
    overflow-x: scroll;
    overflow-y: hide;
    height: 125px;
    width: 95%;
}

.projects_images section {
    display: inline-block;
    margin-left: 5px;
    height: 100px;
    width: auto;
}

.projects_images section p {
    font-size: .7rem;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align:center;
    text-shadow: 1px 1px 1px hsl(220deg 21% 36%);
}

/* images from lorem picsum */

.links > * {
    width: 50px;
    height:auto;
}

.hide {
    display: none;
}

.show {
    display: inline;
    background-color: rgba(0, 0, 0, 0%);
    position: absolute;
    top: 49px;
    right: -9px;
    padding-top: 10px;
    list-style: none;
}

.show img {
    padding-top: 10px;
    height: 35px;
    width: auto;
}

h1 {
    font-size: 45pt;
}

h3 {
    font-size: 25pt;
}

.slate {
    color: hsl(225, 20%, 61%);
}

.green {
    color: hsl(166, 100%, 70%);
}

.light-blue {
    color: hsl(225, 31%, 74%); 
}

.dark-slate {
    color: hsl(220, 21%, 36%); 
}



@media screen and (min-width: 768px) {

.container {
    display: grid;
    position: relative;
    width: 100vw;
    height: 95vh;
    padding: 10px;
    grid-template-rows: 70vh 30vh;
    grid-template-columns: repeat(10, 1fr);
    overflow: hidden;
}

header {
    grid-row: 1/2;
    grid-column: 10/11;
    display: grid;
    width: 95%;
    padding: 10px;
    position: relative;
    grid-template-rows: 15% 85%;
}

.resume {
    grid-row: 1/2;
}

.links {
    grid-row: 2/3;
    height: 100%;
    list-style: none;
    display: inline-block;
    line-height: 3.5em;
    position: absolute;
    top: 0;
    right: 15%;
}

.links img {
    padding-top: 10px;
    height: 45px;
    width: auto;
}

.hamburger {
    display: none;
}

.who {
    grid-column: 1/10;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(13, 1fr);
    width: 100%;
    padding: 2rem;
}

.small_title {
    grid-row: 2/3;
    grid-column: 2/11;
    font-size: 4vw;
    font-weight: bold;
}

.who .title {
    grid-column: 3/8;
    grid-row: 3/4;
    
}

.who .title2 {
    grid-column: 4/11;
    grid-row: 4/5;
}

h1 {
    font-size: 8vw;
}

.small_title2 {
    grid-column: 2/10;
    grid-row: 5/6;
    font-size: 4vw;
    font-weight: bold;
}

.small_title3 {
    grid-column: 3/10;
    grid-row: 6/7;
    font-size: 4vw;
    font-weight: bold;
}

.small_title4 {
    grid-column: 4/10;
    grid-row: 7/8;
    font-size: 4vw;
    font-weight: bold;
}

.who_info {
    display: inline-block;
    font-size: 2vw;
    grid-column: 2/6;
    grid-row: 9/12;
}

.down {
    display: none;
} 

.skills {
    grid-row: 2/3;
    grid-column: 1/6;
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 15% 85%;
    width: 100%;
    overflow-x: hide;
}

#skills-list-media{
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: space-evenly;
    white-space: normal;
    overflow-x: scroll;
}

.skills_display{
    display: flex;
}

.projects {
    grid-row: 2/3;
    grid-column: 6/11;
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 80% 20%;
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
    z-index: 1;
}

#projects_images_media {
    grid-row: 2/3;
    grid-column: 1/3;
    display: inline-block;
    justify-self: center;
    overflow-x: scroll;
    overflow-y: hide;
    height: 100%;
    width: 95%;
    padding-top: 16px;
}

.projects img {
    height: 120%;
    width: auto;
}





}


